# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment
.env

# Uploads
public/uploads/*

# Composer
vendor/node_modules/
postman/reports/
 backend/vendor/
 vendor/
 node_modules/